.recipes-container {
  background-color: #f7fafc;
  min-height: 100vh;
  padding: 32px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #38a169;
}

.add-recipe-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #4299e1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin: 10px;
}

.add-recipe-button:hover {
  background-color: #3182ce;
}

.load-more-container {
  text-align: center;
  margin: 20px 0;
}

.load-more-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.load-more-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.recipe-select-checkbox {
  position: absolute;
  top: 10px;
  left: 10px;
  transform: scale(1.2);
}

.share-button {
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.share-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}



.recipes-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin-top: 32px;
}

@media (min-width: 768px) {
  .recipes-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .recipes-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}